.layout {
  display: flex;
  flex-direction: column-reverse;
  position: fixed;
  bottom: 30px;
  right: 30px;
}

.layout > .btn-container {
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}

.btn-container {
  display: grid;
  grid-template-columns: 1fr 60px;
  align-items: center;
  animation-name: btn-container-appear;
  animation-duration: 250ms;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-fill-mode: backwards;
}

.btn-container.delay-1 {
  animation-delay: 100ms;
}

.btn-container.main {
  animation: none;
}

.btn-caption {
  font-size: 14px;
  justify-self: end;
}

.btn {
  box-shadow: 0 5px 10px -2px #ccc;
  border-radius: 50%;
  transition: box-shadow 250ms ease-out;
  display: grid;
  justify-items: center;
  align-items: center;
  cursor: pointer;
  justify-self: center;
}

.btn:hover {
  box-shadow: 0 10px 10px -2px #cacaca;
}

.btn.second {
  background: #fafafa;
  height: 40px;
  width: 40px;
}

@keyframes btn-container-appear {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
}

.btn.main {
  background: #fafafa;
  transform: translateY(0);
  transition: box-shadow 250ms, transform 250ms ease-out;
  height: 60px;
  width: 60px;
}

.btn.main:hover {
  transform: translateY(-2px);
}

.square {
  width: 10px;
  height: 10px;
}

.square.yellow {
  background: rgb(241, 196, 15);
}

.square.blue {
  background: rgb(52, 152, 219);
}

.square.red {
  background: rgb(231, 76, 60);
}
